﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Справочники</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="color-fon">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="top-left-text" asp-area="" asp-controller="Home" asp-action="Index">Справочники</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="top-text">
                            <a class="top-text" asp-area="" asp-controller="MedDirectories" asp-action="MedDirectoriesView">Медицинские справочники</a>
                        </li>
                        @if (User.IsInRole("Администратор"))
                        {
                            <li class="top-text">
                                <a class="top-text" asp-area="" asp-controller="Person" asp-action="Index">Пользователи</a>
                            </li>
                        }
                    </ul>


                    @if (User.IsInRole("Администратор") || User.IsInRole("Пользователь"))
                    {
                        <partial name="_UserInfo" />
                    }
                    else
                    {
                        <div>
                            <b> <a class="top-text"  asp-controller="Account" asp-action="Login">Вход</a></b>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Медицинские справочники</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_Toaster" />
</body>
</html>
