﻿<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
<script src="~/lib/toastr.js/toastr.min.js"></script>
@if (TempData["AlertResult"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                var alertResult = JSON.parse(@Html.Raw(Json.Serialize(TempData["AlertResult"])));
                var htmlText = "";
                alertResult.Messages.forEach(element => htmlText += element + "<br>");
                toastr.options = {
                    closeButton: true,
                    debug: true,
                    progressBar: true,
                    positionClass: 'toast-top-right',
                    onclick: null
                };
                if (alertResult.Succeeded)
                {
                    toastr.success(htmlText);
                }
                else
                {
                    toastr.error(htmlText);
                }

            });
    </script>
}