﻿@inject Directory.Services.interfaces.ICurrentPersonServices _currentUser

@*<span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">@_currentUser.HospitalName -</span>*@
<div class="navbar-nav" style="cursor: pointer;">
    <div class="dropdown">
        <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">@_currentUser.FullName</span>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Изменить пароль</a>
            <form class="dropdown-item" method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Выход" />
            </form>
        </div>
    </div>
</div>
