﻿<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Справочники</title>
</head>

<body>
    <h1>Медицинские справочники</h1>
    <header>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="next" id="dropdownMenuButton" data-toggle="dropdown">
                            <span style="cursor: pointer;" >Классификатор диагностических инструментальных методов исследования</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="DiagnInstrumMethods" asp-action="DiagnInstrumMethods">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionDIM" asp-action="SectionDIM">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="next" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="cursor: pointer;" >Классификатор лабораторных методов исследования</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="LaboratoryMethods" asp-action="LaboratoryMethods">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionLM" asp-action="SectionLM">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="next"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="cursor: pointer;" >Классификатор лучевой химиотерапии и экстракорпоральных видов</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="MedicRehabilitation" asp-action="MedicRehabilitation">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionMR" asp-action="SectionMR">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="next"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="cursor: pointer;" >Классификатор методов медицинской реабилитации</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="OutpatientPolyclinicLevel" asp-action="OutpatientPolyclinicLevel">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionOPL" asp-action="SectionOPL">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="next"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="cursor: pointer;" >Классификатор услуг амбулаторно поликлинических уровня и ПМСП</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="RayСhemotherapy" asp-action="RayСhemotherapy">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionRC" asp-action="SectionRC">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="next"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="cursor: pointer;" >Классификатор хирургических операций и манипуляций</span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="dropdown-item" method="get" asp-controller="SurgicalOperations" asp-action="SurgicalOperations">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Справочник" />
                            </form>
                            <form class="dropdown-item" method="get" asp-controller="SectionSO" asp-action="SectionSO">
                                <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Раздел" />
                            </form>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <a method="get" asp-controller="ViewStudy" asp-action="ViewStudy" class="next font-size-base d-none d-md-inline mr-3">Вид исследований</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
</body>

