﻿@model Directory.Models.ModelsView.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Смена пароля</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
            margin: 150px;
        }
    </style>
</head>
<body style="background-image: url(theme/media/med_fon.jpg);">
    <div class="container" >
        <main role="main" class="pb-3">
            <div class="card card-body p-3" >
                <form asp-action="SavePassword" asp-controller="Account">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <div class="input-group">
                            <input type="password" asp-for="OldPassword" class="form-control" data-toggle="password" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <div class="input-group">
                            <input type="password" asp-for="NewPassword" class="form-control" data-toggle="password" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <div class="input-group">
                            <input type="password" asp-for="PasswordConfirm" class="form-control" data-toggle="password" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-block btn-primary" />
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-show-password.min.js"></script>
    <partial name="_Toaster" />
    <partial name="_ValidationScriptsPartial" />
</body>
</html>

