﻿@model Directory.Models.ModelsView.LoginViewModel
@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
    <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(theme/media/med_fon.jpg); ">
        <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
            <div class="login-signin">
                <form class="form" id="kt_login_signin_form" method="post" asp-controller="Account" asp-action="Login">
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control" placeholder="Введите логин" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input asp-for="Password" class="form-control" placeholder="Введите пароль" data-toggle="password" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-10">
                        <button id="kt_login_signin_submit" class="btn btn-pill btn-block btn-primary opacity-100 px-25 py-3">Войти</button>
                    </div>
                    <div>
                        <a asp-controller="Person" asp-action="Create" method="get">Отправить заявку</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap-show-password.min.js"></script>
<partial name="_Toaster" />
