﻿@model Directory.Models.ModelsView.PersonView

<h4>Пользователь @Model.LastName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameSystem" class="control-label"></label>
                <input asp-for="NameSystem" class="form-control" />
                <span asp-validation-for="NameSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grounding" class="control-label"></label>
                <p><textarea asp-for="Grounding" maxlength="255" class="form-control-grounding"></textarea></p>
                <span asp-validation-for="Grounding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="LockoutEnabled" class="form-control" />
                <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
            <div style="padding: 12px 0px 12px 0px;">
                <a class="next-little font-size-base d-none d-md-inline mr-3" asp-controller="Person" asp-action="ResetPassword" asp-route-id="@Model.Id">Сбросить пароль</a>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Вернуться обратно</a>
</div>
