﻿@model Directory.Models.Filters.PersonFilter
@{
    ViewData["Title"] = "Persons";
}

<h1>Пользователи</h1>

<div class="row" >
    <div class="col-md-12">
        <form asp-action="Index" method="get">
            <div class="col-md-12">
                <div class="container" style="margin-top: 50px;">
                    <div class="row">
                        <div  class="col-3">
                            <label asp-for="FirstName" class="control-label">Имя</label>
                            <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="LastName" class="control-label">Фамилия</label>
                            <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-3" style="margin-top:32px;">
                            <input type="submit" value="Поиск" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="cursor: pointer; margin: 20px;">
        <a class="next" asp-controller="Person" asp-action="Create">Создать нового</a>
    </div>
</div>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persons.First().LockoutEnabled)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.persons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.LockoutEnabled)
                </td>
                @if (User.IsInRole("Администратор"))
                {
                    <td>
                        <div class="navbar-nav" style="cursor: pointer;">
                            <div class="dropdown">
                                <div id="dropdownMenuButton">
                                    <a class="next-little font-size-base d-none d-md-inline mr-3" asp-controller="Person" asp-action="Edit" asp-route-id="@person.Id">Редактировать</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="next-little font-size-base d-none d-md-inline mr-3" asp-controller="Person" asp-action="InfoPerson" asp-route-id="@person.Id">Подробней</a>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


