﻿@model Directory.Models.ModelsView.DirectoryesMedic.RCViewModel

<h4>Создание справочника для "Классификатора услуг амбулаторно поликлинических уровня и ПМСП"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ViewStudy" class="control-label"></label>
                <select asp-for="ViewStudy" class="form-control" asp-items="ViewBag.ViewStudyList"></select>
                <span asp-validation-for="ViewStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionCode" class="control-label"></label>
                <select asp-for="SectionCode" class="form-control" asp-items="ViewBag.SectionList"></select>
                <span asp-validation-for="SectionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameStude" class="control-label"></label>
                <input asp-for="NameStude" class="form-control" />
                <span asp-validation-for="NameStude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться обратно</a>
</div>

