﻿@model IEnumerable<Directory.Models.Directoryes.SectionRayСhemotherapy>

<h4 style="padding-block: 10px 15px; font-size: 22px">Разделы для "Классификатора услуг амбулаторно поликлинических уровня и ПМСП"</h4>

@if (User.IsInRole("Администратор"))
{
    <p>
        <a class="next" asp-action="Create">Создать новый раздел</a>
    </p>
}
<table class="table" style="text-align: center; font-size: 18px">
    <thead>
        <tr>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.LockedSection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockedSection)
                </td>
                @if (User.IsInRole("Администратор"))
                {
                    <td>
                        <div class="navbar-nav" style="cursor: pointer;">

                            <div class="dropdown">
                                <div id="dropdownMenuButton">
                                    <a class="next-little font-size-base d-none d-md-inline mr-3" asp-action="Edit" asp-route-id="@item.id">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
