﻿@model Directory.Models.Filters.MedicRehabilitationFilter


<h3>Классификатор лучевой химиотерапии и экстракорпоральных видов</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" method="get">
            <div class="col-md-12">
                <div class="container" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="SectionName" class="control-label">Название раздела</label>
                            <input asp-for="SectionName" class="form-control" value="@Model.SectionName" />
                            <span asp-validation-for="SectionName" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="NameStude" class="control-label">Название исследования</label>
                            <input asp-for="NameStude" class="form-control" value="@Model.NameStude" />
                            <span asp-validation-for="NameStude" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="CodeStudy" class="control-label">Код исследования</label>
                            <input asp-for="CodeStudy" class="form-control" value="@Model.CodeStudy" />
                            <span asp-validation-for="CodeStudy" class="text-danger"></span>
                        </div>
                        <div class="col-1" style="margin-top:32px;">
                            <input type="submit" value="Поиск" class="btn btn-primary" />
                        </div>
                        <div class="col-1" style="margin-top:32px;">
                            <a asp-action="API" class="btn btn-primary"> API</a>
                        </div>
                        <div class="col-1" style="margin-top:32px;">
                            <a asp-action="Excel" class="btn btn-primary"> Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Администратор"))
{
    <p style="margin: 20px;">
        <a class="next" asp-action="Create">Создать новый справочник</a>
    </p>
}
<table class="table" style="margin: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().ViewStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().SectionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().OrdinalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().CodeStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRMethods.First().NameStude)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MRMethods.OrderBy(e => e.CodeStudy))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewStudy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdinalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeStudy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameStude)
                </td>
                @if (User.IsInRole("Администратор"))
                {
                    <td>
                        <div class="navbar-nav" style="cursor: pointer;">
                            <div class="dropdown">
                                <div id="dropdownMenuButton">
                                    <a class="next-little font-size-base d-none d-md-inline mr-3" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="cursor: pointer;" class="next-little font-size-base d-none d-md-inline mr-3">Удалить</span>
                            </div>
                            <div style="cursor: pointer;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a style="color: brown" class="dropdown-item font-weight-bolder font-size-base d-none d-md-inline mr-3">УДАЛИТЬ СПРАВОЧНИК?</a>
                                <form class="dropdown-item">
                                    <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Нет" />
                                </form>
                                <form class="dropdown-item" method="post" asp-controller="MedicRehabilitation" asp-action="Delete" asp-route-id="@item.Id">
                                    <input type="submit" class="container-fluid text-left nav-link btn btn-link text-dark font-weight-bold" value="Да" />
                                </form>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
