﻿@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Данный портал используется для медицинских справочников.</p>
</div>
<partial name="_Toaster" />
