﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.form-control-grounding {
    display: block;
    width: 130%;
    height: calc(3.5em + 2.1rem + 2px);
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1.5px solid #8e919b;
    border-radius: 0.42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

    .form-control-grounding:focus {
        color: #3F4254;
        background-color: #ffffff;
        border-color: #69b3ff;
        outline: 0;
    }

    .form-control-grounding::-webkit-input-placeholder {
        color: #B5B5C3;
        opacity: 1;
    }

    .form-control-grounding::-moz-placeholder {
        color: #B5B5C3;
        opacity: 1;
    }

    .form-control-grounding:-ms-input-placeholder {
        color: #B5B5C3;
        opacity: 1;
    }

    .form-control-grounding::-ms-input-placeholder {
        color: #B5B5C3;
        opacity: 1;
    }

    .form-control-grounding::placeholder {
        color: #B5B5C3;
        opacity: 1;
    }

    .form-control-grounding:disabled, .form-control-grounding[readonly] {
        background-color: #F3F6F9;
        opacity: 1;
    }

select.form-control-grounding:focus::-ms-value {
    color: #3F4254;
    background-color: #ffffff;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.color-fon {
    background-color: #F2F7FA;
}

.top-left-text {
    display: block;
    padding: 0.2rem 0.7rem;
    font-size: 30px;
    color: #0E3360;
    text-align: center;
    text-decoration: none;
}

    .top-left-text:hover {
        font-size: 30px;
        color: #0E3360;
        text-align: center;
        text-decoration: none;
    }

.top-text {
    display: block;
    padding: 0.2rem 0.5rem;
    font-size: 20px;
    color: #0E3360;
    text-align: center;
    text-decoration: none;
}

    .top-text:hover {
        color: #4188DD;
        text-decoration: none;
    }

.next {
    color: #0366d6;
    transition: 1s;
    font-size: 25px;
}

    .next:hover {
        color: #950F44;
        transform: scale(1.03);
        text-decoration: none;
    }

.next-little {
    color: #0366d6;
    transition: 2s;
    font-size: 16px;
}

    .next-little:hover {
        color: #950F44;
        transition: 1s;
        padding: 1%;
        text-decoration: none;
    }

.text-link-me {
    color: #52A1AD;
    background-color: #fff;
    border-color: #1861ac;
    font-size: 25px;
}

    .text-link-me:hover {
        color: #950F44;
        transition: 1s;
        padding: 10px;
        text-decoration: none;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
